@page "/"

<PageTitle>Index</PageTitle>

<h1>Create organisation placeholder</h1>

<EditForm Model=@Command>
    <div>
        Name <InputText @bind-Value=Command.Name/>
    </div>
    <div>
        <button @onclick=CreateAsync>Create</button>
    </div>
</EditForm>

